/*This page is created only for learning purpose*/
/*Author: Md. russel Kabir*/


* {
	box-sizing: border-box;
}

a{
	color:#365899;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body{
	margin:0;
	padding:0;
	font-family:Helvetica, Arial, sans-serif;
}

.wrapper{
	width:80%;
	margin:0 auto;
}

hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}



/*HEADER*/
header {
	min-height: 85px;
	background-color: #3F5C9A;
	color:#fff;
	font-size:12px;
	overflow: hidden;
}

.logo {
	width:60%;
	float:left;
}

.logo a{
	color:white;
	display: inline-block;
	font-size: 30px;
	margin-top: 25px;
}

.logo img {
	margin-top:30px;
	height:35px;
}

.login{
	width:40%;
	float: left;
	margin-top:14px;
	padding-left: 2%;
}

.email input[type="text"], .password input[type="password"]{
	margin-right: 15px;
	width:150px;
	height: 24px;
	margin-bottom: 5px;
	margin-top: 4px;
	border:1px solid #1D2A5B;
	font-size: 12px;
	padding-left: 5px;
}

.login-btn input[type="submit"]{
	margin-top:20px;
	height: 22px;
	width: 50px;
	background-color: #4267B2;
	border:1px solid #29487D;
	border-radius:2px;
	color:#fff;
	cursor: pointer;
}

.login-btn input[type="submit"]:hover {
	background-color: #3f5c9a;
}
.email, .password, .login-btn{
	float:left;
}

.password a{
	color:#9CB4CE;
	text-decoration: none;
}

.password a:hover{
	text-decoration: underline;
}



/*CONTENT*/

.content-section{
	min-height: 600px;
	color:#333;
	overflow: hidden;
	padding-bottom: 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d7dbea+99 */
	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(#ffffff 0%, #d7dbea 99%);
	background: -o-linear-gradient(#ffffff 0%, #d7dbea 99%);
	background: linear-gradient(#ffffff 0%, #d7dbea 99%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7dbea',GradientType=0 ); /* IE6-9 */
}

.content-wrapper {
	margin:30px 0;
}

.left-content{
	width:60%;
	float: left;
}

.left-content img{
	width:80%;
}

.left-connect-text{
	margin-top:5px;
	padding-right: 160px;
	font-size: 18px;
	font-weight: bold;
	color:#0e385f;
	line-height: 30px;
}

.left-connect-text p{
	margin-top: 0;
}


/*right content*/
.right-content{
	width:40%;
	float: left;
}

.right-content-text{
	font-size:11px;
}

.term-text{
	width:316px;
	line-height: 15px;
	color:#777;
}

.why{
	display: inline-block;
	line-height: 15px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.right-content-text-link{
	color:#365899;
	text-decoration: none;
}

.right-content-text-link:hover{
	text-decoration: underline;
}
.content-title h1{
	margin:0;
	padding:0;
	font-family: 'Arial', sans-serif;
	font-size: 35px;
	font-weight: 300;
	color:#333;
}

.content-title p{
	margin-top: 8px;
	color:#1d2129;
}

.input-text{
	width:194px;
	height: 40px;
	padding: 10px 10px;
	border-radius: 5px;
	border:1px solid #BDC7D8;
	font-size: 16px;
	margin-right: 5px;
	margin-bottom: 10px;
	transition: all 0.2s ease;
}

.input-text:focus{
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.bigger{
	width:400px;
}

placeholder{color:#A29999;font-size:16px;}
::-webkit-input-placeholder{color:#A29999;font-size:16px;}
::-moz-placeholder{color:#A29999;font-size:16px;}

.birthday{
	float: left;
}
.select-age{
	width:60px;
	height: 30px;
	border:1px solid #BDC7D8;
	margin: 10px 0;
}

.no-margin{
	margin-left: -6px;
}

.create-page{
	font-size: 12px;
	color:#777;
}

.create-page a{
	color:#365899;
}
.register-btn{
	width:195px;
	height: 40px;
	color:#fff;
	border:1px solid #2C5115;
	border-radius: 5px;
	font-size: 18px;
	text-shadow: 1px 1px 1px #800000;
	margin-bottom: 20px;
	cursor: pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#65aa53+0,588b44+100 */
	background: #65aa53; /* Old browsers */
	background: -moz-linear-gradient(top,  #65aa53 0%, #588b44 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #65aa53 0%,#588b44 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #65aa53 0%,#588b44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65aa53', endColorstr='#588b44',GradientType=0 ); /* IE6-9 */

}

.register-btn:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#598f46+0,64a752+100 */
	background: #598f46; /* Old browsers */
	background: -moz-linear-gradient(top,  #598f46 0%, #64a752 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #598f46 0%,#64a752 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #598f46 0%,#64a752 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#598f46', endColorstr='#64a752',GradientType=0 ); /* IE6-9 */

}





/*footer*/
footer{
	min-height: 160px;
	background-color: #fff;
	color:#36589C;
	font-size: 12px;
}

.link-list {
	width:90px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 20px;
}
.link-list ul{
	list-style: none;
	padding:0;
	margin:0;
}
.link-list ul li a{
	font-size: 12px;
	display: block;
	margin-bottom:8px;
}
.copyright{
	color:#737373;
	font-size: 10px;
	margin-top: 10px;
}




/*Media queries*/
@media screen and (max-width: 1187px){
	.login-btn input[type="submit"]{
		margin-top:0;
	}
	.input-text{
		width:400px;
	}

}
@media screen and (max-width: 1031px){
	.login-btn input[type="submit"]{
		margin-top:20px;
		margin-bottom: 15px;
	}

	.left-connect-text{
		padding-right: 20px;
	}
	.input-text{
		width:300px;
	}

}



@media screen and (max-width: 700px){
	.left-content, .right-content{
		width:100%;
	}
	.left-connect-text{
		padding-right: 0;
	}
	.input-text{
		width:400px;
	}


}

@media screen and (max-width: 400px){
	.logo, .login{
		width:100%;
	}
	.forgotten{
		display: inline-block;
		margin-bottom: 15px;
	}
	.input-text{
		width:250px;
	}

}
